@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap");

/* $primary-color: #ff9257; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:focus {
  outline-color: #6485fc;
}

body {
  font-size: 18px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: default;
}

ul {
  list-style-type: none;
}

h3 {
  font-family: "Urbanist", cursive, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}
